<modal-screen>
    <div 
    [@fade]="'open'" 
    *ngIf="!showAccentPicker && !showIconPicker" 
    class="flex flex-col h-[221px] justify-between">
        <p class="text-lg font-semibold">
        {{
            collectionExists 
            ? 'Edit Collection' 
            : 'New Collection'
        }}
        </p>
        <div class="px-1 justify-between">
            <div class="flex sm:flex-col sm:justify-start sm:items-start justify-between items-end sm:space-x-0 sm:space-y-4 space-x-8 text-sm text-text-secondary">
                <input 
                [class]="fieldValid ? '' : 'invalid-field animate-wiggle'" 
                (keyup.enter)="save()" 
                required 
                placeholder="Name" 
                class="bg-transparent border-b-2 border-primary-300 text-base" 
                type="text" 
                [formControl]="nameControl">
                <div class="flex justify-between items-end space-x-8">
                    <div class="collection-input items-center">
                        <div *ngIf="!selectedIconPath" (click)="toggleIconPicker()" class="cursor-pointer items-center flex">Choose</div>
                        <div 
                        (click)="toggleIconPicker()" 
                        *ngIf="selectedIconPath" 
                        [style.backgroundColor]="selectedAccentColor" 
                        class="rounded-[12px] p-2 w-[35px] h-[35px] cursor-pointer">
                            <img [src]="selectedIconPath" alt="" srcset="">
                        </div>
                        <p>Icon</p>
                    </div>
                    <div (click)="toggleAccentPicker()" class="collection-input cursor-pointer items-center">
                        <div
                        [style]="{ backgroundColor: selectedAccentColor }"
                        class="accent-icon"
                        ></div>
                        <p>Accent</p>
                    </div>
                    <div class="collection-input items-center">
                        <favourite-collection-button
                            [isFavourite]="isFavourite"
                            [accentColor]="selectedAccentColor"
                            (favouriteUpdated)="updateFavourite($event)">
                        </favourite-collection-button>
                        <p>Favourite</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex space-x-2 justify-end">
            <button class="hover:bg-red-800 button" (click)="close()">Cancel</button>
            <button class="bg-primary-400 hover:bg-blue-800 button" (click)="save()">Save</button>
        </div>
    </div>
    <accent-color-picker 
    *ngIf="showAccentPicker" 
    (closeAccentEvent)="assignAccentColor($event)">
    </accent-color-picker>
    <icon-picker (closePicker)="assignIconPath($event)" [accentColor]="selectedAccentColor" *ngIf="showIconPicker"></icon-picker>
</modal-screen>