<div @fade class="flex flex-col sm:space-y-12 space-y-16">
    <p class="text-2xl font-medium">Collections</p>
    <div class="flex flex-col space-y-8">
        <div class="flex space-x-3 text-sm text-text-secondary font-medium">
            <button
                (click)="sortCollectionsBy(SortCollectionsBy.favourites)"
                [class]="
                    sortBy == SortCollectionsBy.favourites 
                    ? 'toggle-active' 
                    : 'toggle-inactive'" 
                class="toggle-button"
            >
                Favourites
            </button>
            <button 
                (click)="sortCollectionsBy(SortCollectionsBy.all)"
                [class]="
                    sortBy == SortCollectionsBy.all 
                    ? 'toggle-active' 
                    : 'toggle-inactive'" 
                class="toggle-button">
                All Collections
            </button>
        </div>
        <div class="grid sm:grid-cols-2 sm:gap-y-10 sm:gap-x-4 grid-cols-3 gap-4">
            <collection 
                [collectionData]="collection" 
                *ngFor="let collection of allCollections$ | async"
                @fadeUp>
            </collection>
            <div (click)="toggleCollectionDetailsModal()" class="add-collection cursor-pointer">
                +
            </div>
        </div>
    </div>
</div>
<collection-details-modal
    *ngIf="addingCollection"
    (close)="toggleCollectionDetailsModal()"
    [collectionExists]="false"
></collection-details-modal>

