<div @fade class="flex flex-col space-y-16">
    <p class="text-2xl font-medium">Collections</p>
    <div class="flex flex-col space-y-8">
        <div class="flex space-x-3 text-sm text-text-secondary font-medium">
            <button class="toggle-button toggle-inactive">Favourites</button>
            <button class="toggle-button toggle-active ">All Collections</button>
        </div>
        <div class="grid grid-cols-3 gap-4 columns-3">
            <collection 
                [collectionData]="collection" 
                *ngFor="let collection of allCollections$ | async"
                @fadeUp>
            </collection>
            <div (click)="toggleCollectionDetailsModal()" class="add-collection cursor-pointer">
                +
            </div>
        </div>
    </div>
</div>
<collection-details-modal
    *ngIf="addingCollection"
    (close)="toggleCollectionDetailsModal()"
    [collectionExists]="false"
></collection-details-modal>

