.add-collection {
    @apply 
        w-collection 
        h-add-collection
        rounded-collection
        text-xl 
        font-semibold 
        border-primary-400
        border-dotted
        hover:border-solid
        hover:border-primary-500
        border-2 
        flex 
        items-center 
        justify-center 
        text-[hsla(232,13%,35%,1.0)]
        hover:bg-primary-500
        transition-all 
        ease-out;
}

.toggle-button {
    @apply 
        px-6 
        py-2 
        drop-shadow 
        rounded-collection
        border-2
        border-primary-550
        transition-all
        ease-out
        duration-200
}

.toggle-active {
    @apply bg-primary-550
}

.toggle-inactive {
    @apply hover:bg-primary-550
}