<div class="modal center-fixed text-text-secondary">
    <div class="flex flex-col">
        <p class="text-lg font-semibold">New Collection</p>
    </div>
    <div class="space-y-16 justify-between">
        <div class="flex items-end space-x-8 text-sm text-text-secondary">
            <input required placeholder="Name" class="bg-transparent border-b-2 border-primary-300 text-base" type="text" [formControl]="nameControl">
            <div class="collection-input items-center">
                <div class="text-xl">✌️</div>
                <p>Icon</p>
            </div>
            <div class="collection-input items-center">
                <div class="text-xl">💙</div>
                <p>Accent</p>
            </div>
        </div>
        <div class="flex space-x-2 justify-end">
            <button class="hover:bg-red-800 button" (click)="discard()">Discard</button>
            <button class="bg-primary-400 hover:bg-blue-800 button" (click)="save()">Save</button>
        </div>
    </div>
</div>