<main (click)="open()" class="collection collection-size cursor-pointer">
    <div class="text-xl">
        <icon-wrapper [accentColor]="collectionData.accentColor" *ngIf="collectionData.iconPath">
            <img [src]="collectionData.iconPath" alt="" srcset="">
        </icon-wrapper>
    </div>
    <div class="flex flex-col space-y-1">
        <p class="truncate ... font-semibold text-lg">{{collectionData.name}}</p>
        <p class="text-xs text-text-tertiary">{{getTasksStatus()}}</p>
    </div>
    <div class="collection-icon">
       <circle-progress
        [percent]="completePercent"
        [radius]="8"
        [space]="-3"
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeLinecap]="'square'"
        [showBackground]="false"
        [showInnerStroke]="true"
        [innerStrokeColor]="progressCircleInnerColor"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="completePercent == 0 ? progressCircleInnerColor : collectionData.accentColor"
        [outerStrokeWidth]="3"
        [animation]="false">
        </circle-progress>
    </div>
</main>