<div class="bg-nav h-[50px] w-[100vw] shadow-sm shadow-black top-0 z-20 fixed flex items-center px-3">
    <div (click)="toggleSideBar()" class="cursor-pointer text-primary-50">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
    </div>
</div>
<side-bar (closeSideBar)="toggleSideBar()" *ngIf="showSideBar$ | async"></side-bar>
