<div @slideIn class="side-bar flex flex-col py-20">
    <a href="/">
        <p class="font-semibold text-primary-100 px-6 pb-3">Collections</p>
    </a>
    <div class="cursor-pointer">
        <div
        *ngFor="let collection of (collections$ | async)" 
        [class]="
        currentCollectionId == collection.id 
        ? 'bg-primary-400' 
        : ''"
        class=" flex items-center space-x-2 px-6 py-4 w-full font-medium"
        (click)="openCollection(collection.id)">
            <div 
            [style.backgroundColor]="collection.accentColor" 
            class="rounded-[12px] p-[6px] w-[30px] h-[30px] cursor-pointer">
                <img [src]="collection.iconPath" alt="" srcset="">
            </div>
            <p>
                {{collection.name}}
            </p>
        </div>
    </div>
</div>