.task {
    @apply px-4 py-3 rounded-2xl bg-primary-500 flex space-x-3 transition-all ease-in-out;
}

.delete-button {
    @apply stroke-primary-200 hover:stroke-primary-100 transition-all ease-out;
}

.complete-task-icon {
    @apply px-[4px] py-[4px] border-2 border-primary-300 rounded-full cursor-pointer transition-all ease-out text-primary-500;
}

.complete {
    @apply bg-primary-300;
}