.option {
    @apply text-center px-3 py-1 cursor-pointer hover:bg-primary-500 transition-all ease-out rounded-md;
}

.modal {
    @apply bg-primary-400 rounded-md drop-shadow absolute right-0 px-4 py-3 flex flex-col space-y-2;
}