@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --collection-width: 170px;
  --collection-height: 160px;
  --collection-roundness: 20px;
  --collection-bg: hsla(240,13%,15%,1.0);
  --collection-bg-hover: hsla(240,13%,20%,1.0);
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

// hide arrows on input number type
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
