@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

// hide arrows on input number type
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.disable-scrolling {
  height: 100%;
  overflow: hidden;
}

.center-fixed {
  @apply top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%] fixed;
}

.disable-text-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Old version of Firefox */
  -ms-user-select: none; /* Internet Explorer or Edge */
  user-select: none; /* All modern browsers */
}
